.top {
  width: 100%;
  background-color: white;
  padding: 15px 0;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
 
  z-index: 99999;
}

.topLeft,
.topRight {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: chartreuse; */
}

.topRight {
  gap: 10px;
}



.topCenter {
  flex-grow: 2;
  /* background-color: pink; */
}

.topTitle{
  text-align: center;
}

.topImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topIcon {
  font-size: 20px;
  margin: 0 10px;
  color: var(--dark-color);
}

.topList {
  display: flex;
  justify-content: center;
  list-style: none;
}

.topListItem {
  margin: 0 15px;
  font-size: 20px;
  cursor: pointer;
  color: var(--dark-color);
  text-decoration: none;
}

.topRightIcon {
  font-size: 18px;
  color: var(--dark-color);
  cursor: pointer;
}

.topSideBar.active{
  width: 100%;
  height: 100vh;
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  display: block;

}



.topSideBar{
  display: none;
}

.times{
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 30px;
  cursor: pointer;
}

.topSideBarList{
  position: absolute;
  margin-top: 80px;
  left: 50%;
 transform: translateX(-50%);
  list-style: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  
  gap: 20px;
}
.topSideBarList a{
  line-height: 2;
  font-weight: 700;
  cursor: pointer;
  font-size: 22px;
  color: var(--dark-color);
}















@media (max-width:768px){
  .topIcon{
    margin: 0 5px;
  }

  .topListItem {
    margin: 0 10px;
    font-size: 18px;
  }
}


@media (max-width:450px){
  .topIcon{
    margin: 0 5px;
  }
  .topTitle{
    display:none
  }
}
